<h1>Roles#index</h1>
 <nav>
    <ul>
      <li> <%= link_to "List Roles", roles_path %></li>
      <li><%= link_to "Manage Users role", help_path %></li>
      <li><%= link_to "Create", new_role_path %></li>
    </ul>
  </nav>
</footer>
